LOCATE COMP "sclk" SITE "H3";
IOBUF PORT "sclk" IO_TYPE=LVCMOS33;

LOCATE COMP "mosi" SITE "K4";
IOBUF PORT "mosi" IO_TYPE=LVCMOS33;

LOCATE COMP "cs_n" SITE "K3";
IOBUF PORT "cs_n" IO_TYPE=LVCMOS33;

LOCATE COMP "leds[0]" SITE "R7";
IOBUF PORT "leds[0]" IO_TYPE=LVCMOS33;

LOCATE COMP "leds[1]" SITE "D5";
IOBUF PORT "leds[1]" IO_TYPE=LVCMOS33;

LOCATE COMP "leds[2]" SITE "D4";
IOBUF PORT "leds[2]" IO_TYPE=LVCMOS33;

LOCATE COMP "leds[3]" SITE "E4";
IOBUF PORT "leds[3]" IO_TYPE=LVCMOS33;

LOCATE COMP "clk" SITE "P6";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25 MHZ;